body {
    background-image: url(images/umbrella-weather.jpg);
    background-size: cover;
    background-position: center; 
}

.navbar{
   background-color: rgb(240, 224, 137) !important; 
}


h1{
    color:white;
    font-size: 35;
}

#city-display, #current-forecast, #five-day-forecast{
    background-color: rgba(255,255,255,.85);
}

footer{
    background-color: rgb(110, 190, 204);
}